{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>مدیریت اخبار و نظرات</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="{% static 'CSS/Style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>

<!-- Navigation -->
<nav class="navbar navbar-default">
  <b>
  <div class="container" dir="rtl">
    
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
		<li><a href="/Login/">کاربر {{ username }}</a></li>
		<li><a href="/Logout/">خروج</a></li>
		<li><a href="/">خانه</a></li>
      </ul>
    </div>
  </div>
  </b>
</nav>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  
  <h3 class="margin">ویرایش خبر</h3>
	  <form name="LoginForm" action="/NewsEditFinal/" method="POST">
	  {% csrf_token %}
	  {% for new in news%}
	  <label for="ID" name="ID" value="{{new.id}}">{{new.id}}</label>
	  <div class="form-group">
		<label for="Title">عنوان خبر</label>
		<input type="text" class="form-control" name="newstitle" value="{{new.title}}"></input>
	  </div>
	  <div class="form-group">
		<label for="Text">متن خبر</label>
		<textarea class="form-control" rows="5" id="comment" name="newstext">{{new.text}}</textarea>
	  </div>
	  
	  <button type="submit" class="btn btn-default">ویرایش خبر</button>
	  {% endfor %}
	  </form>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>پرتال خبری ویژه پروژه ی امنیت نرم افزار</p> 
  <p>توسعه داده شده توسط</p> 
  <p><a>مسعود مقدسیان، محمدرضا شامانی</a></p> 
</footer>

</body>
</html>
